{
  "extends": ["airbnb", "react-app"],
  "rules": {
    "object-curly-newline": 0,
    "semi": "error",
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-exprt": 0,
    "indent": ["error", 2]
  }
}
