{
  "extends": ["airbnb", "react-app"],
  "rules": {
    "import/prefer-default-exprt": 0,
    "indent": ["error", 2],
    "no-underscore-dangle": 0,
    "object-curly-newline": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "semi": "error"
  },
  "globals": {
    "sinon": true
  }
}
